<div>
    <div class = "text-center">
        <% if @user.image_name? %>
           <%= image_tag @user.image_name.url ,alt: "ユーザー画像",class: "user-image text-center" %>
        <% else %>
           <%= image_tag "default.png" ,alt: "ユーザー画像",class: "user-image pull-center" %>
        <% end %>
    </div>
    <h1 class = "text-center">
        <%= @user.name %>
        <% if @user.id == current_user.id  %>
            <%= link_to edit_user_path(@user) do %>
               <i class="fas fa-cogs text-dark"></i>
            <% end %>
        <% end %>
        <ul class = "nav nav-tabs user-options">
            <li class = "nav-item">
               <%= link_to "#{@user.name}の投稿",user_path(@user), class: "nav-link active" %>
            </li>
            <li class = "nav-item">
                <%= link_to "飲みたいをした投稿",user_likes_path(@user),class: "nav-link" %>
            </li>
            <li class = "nav-item">
                <%= link_to "#{@user.name}のコメント",user_comments_path(@user), class: "nav-link" %>
            </li>
            <li class = "nav-item">
                <%= link_to "いいねをしたコメント",user_path(@user), class: "nav-link" %>
            </li>
        </ul>
        <!--ここからユーザーの投稿一覧-->
        <div class = "user-show">
            <% @posts.each do |post|%>
              <div class = "row border mt-2 mb-2">
                  <div class = "col-md-4">
                      <!--ユーザーの画像-->
                      <% if post.user.image_name? %>
                         <%= image_tag post.user.image_name.url,class: "user-image-index img-fluid" %>
                      <% else %>
                         <%= image_tag "default.png" ,class: "user-image-index img-fluid" %>
                      <% end %>
                      <!--ユーザーのオプション-->
                      <h2>投稿者: <%= link_to post.user.name , user_path(post.user) %></h2>
                      <p><%= link_to  "詳細を見る",post_path(post) %></p>
                      <!--ユーザーのオプションここまで-->
                      <!--投稿日時-->
                      <p>投稿日: <%= post.created_at %></p>
                      <!--投稿日時ここまで-->
                      <!--飲みたいボタン-->
                    <div>
                        <% if like?(post) %>
                           <%= link_to favorite_path(post), method: :delete, remote: true do %>
                              <i class="fas fa-heart" id = "like"></i>
                           <% end %>
                           <span><%= counts_likes(post) %></span>
                        <% else %>
                            <%= link_to favorite_path(post), method: :post, remote: true  do %>
                               <i class="fas fa-heart" id = "unlike"></i>
                           <% end %>
                           <span><%= counts_likes(post) %></span>
                        <% end %>
                    </div>
                    <!--飲みたいボタンここまで-->
                  </div>
                  <div class = "col-md-8">
                      <% if post.images[0].present?  %>
                         <%= image_tag post.images[0].image_name.url ,class: "img-thumbnail img-fluid" %>
                     <% else %>
                         <%= image_tag "https://placehold.jp/400x400.png",class: "img-thumbnail img-fluid" %>
                    <% end %>
                  </div>
              </div>
           <% end %>
        </div>
        <!--ユーザーの投稿一覧　ここまで-->
    </h1>
</div>