<h1 class = "text-center mt-3"><u>Title : <%= @post.title %></u></h1>
<% if @post.images %>
      <div class = "row">
        <% @post.images.each do |image| %>
          <div class = "col-6">
             <%= image_tag image.image_name.url , alt: "投稿画像", class: "img-thumbnail" %>
          </div>
        <% end %>
      </div>
<% end %>

<div class = "text-center"> 
    <h2 class = "mt-3"><u>商品名:<%= @post.product_name %></u></h2>
    <div class = "review">
        <h2><u>Review</u></h2>
        <div>
            <%= @post.review %> 
        </div>
    </div>
    <!--新規コメント投稿フォーム-->
      <div class = "mb-4 mt-4 comment-form">
            <h3><u>新規コメント</u></h3>
            <!--エラーメッセージ-->
            <%= render "layouts/error_messages", model: @comment %>
            <!--エラーメッセージここまで-->
            <%= form_with(model: @comment, local: true,url: comment_path(@post.id) )do |f| %>
               <div class = "form-group">
                   <%= f.label :title, "タイトル" %>
                   <%= f.text_field :title, class: "form-control" %>
               </div>
               <div class = "form-group">
                   <%= f.label :comment ,"コメント" %>
                   <%= f.text_area :comment, class: "form-control", rows: 4 %>
               </div>
               <%= f.submit "コメントする", class: "btn btn-primary" %>
            <% end %>
      </div>
    <!--新規コメント投稿フォームここまで-->
    <h2 class = "text-center mt-4"><u>コメント一覧</u></h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>投稿者</th>
                <th>タイトル</th>
                <th>コメント</th>
                <th>投稿日</th>
            </tr>
        </thead>
        <tbody>
           <% @post.comments.each do |comment| %>
              <tr>
                 <td><%= link_to  comment.user.name, user_path(comment.user) %></td>
                 <td><%= comment.title %></td>
                 <td>
                    <p><%= comment.comment %></p>
                 </td>
                 <td><%= comment.created_at %></td>
                 <% if current_user.id == comment.user.id %>
                     <td>
                       <%= link_to "削除", comment_path(comment), method: :delete,data: {confirm: "削除しますか？"},class: "btn btn-danger" %>
                     </td>
                <% end %>
                 <td>
                   <% if liked?(comment) %>
                     <%= link_to  "いいね済み!", unlike_comment_path(comment), method: :delete, class: "btn btn-info" %>
                   <% else %>
                     <%= link_to "いいね", like_comment_path(comment), method: :post, class: "btn btn-success"  %>
                   <% end %>
                 </td>
              </tr>
            <% end %>
        </tbody>
     </table>
    </div>
</div>


